.contact {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 700px;
}

.contact__content {
  display: flex;
  justify-content: space-between;
  background: #202020;
  padding: 1.5rem;
  border: 2px solid #565656;
  border-radius: 10px;
}

.get_in_touch {
  padding: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background-color: #c2c2c2;
  font-size: .8rem;
}

.form-submit {
  margin: 0 auto;
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  color: #171717;
  background: #c2c2c2;
  padding: .6rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}

.form-submit:hover {
  background: deepskyblue;
  color: white;
}

.contact h1 {
  font-family: 'Gugi', cursive;
}

.contact h3 {
  font-family: 'Gugi', cursive;
}

.contact-label {
  font-family: 'Fira Sans', sans-serif;
}

.form-submit {
  font-family: 'Gugi', cursive;
}

@media (max-width: 700px) {
  .contact {
    max-width: 90%;
    padding-top: 75px;
  }
  .contact__content {
    margin: 0 auto;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .contact {
    padding-top: 50px;
  }
  .get_in_touch {
    padding: 1rem;
  }
}
